<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaJNawutN0RffdZOBF2Q2b3JCYamKb0Bk</string>
	<key>GCM_SENDER_ID</key>
	<string>1001189041631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.rpltanikita</string>
	<key>PROJECT_ID</key>
	<string>tanikita-2178e</string>
	<key>STORAGE_BUCKET</key>
	<string>tanikita-2178e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001189041631:ios:46b47e831deb9256b2906a</string>
</dict>
</plist>